.card {
    display: block;
    text-align: center;
    margin-bottom: 1em;
    border-bottom: 1px solid var(--azul);
}

.card__imagem {
    width: 60%;
    height: 30%;
}

.card__titulo {
    padding: 0.8em 0;
    font-size: 17px;
}